* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #14213d;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

header img {
  width: 70px;
  height: 70%;
  border-radius: 50%;
}

header h1 {
  color: #af9b9b;
  margin: auto;
  margin-left: 20px;
}

header nav {
  display: flex;
}
.link {
  font-size: 19px;
  padding: 0 10px;
  margin-right: 4px;
  text-decoration: none;
  color: #af9b9b;
  border-bottom: 4px solid #af9b9b;
}

.link:hover {
  font-size: 150%;
  color: #524747;
  transition: 0.3s;
}

.background-image {
  width: 100%;
  height: 200px;
}

.section {
  display: flex;
  margin: 20px 50px;
  align-items: center;
}

.title {
  font-size: 35px;
  color: #af9b9b;
  width: 25%;
}

.content {
  width: 75%;
  padding: 20px;
  border-left: #af9b9b solid 3px
}

/* Work section */
.work-content {
  width: 75%;
  padding: 20px;
  border-left: #af9b9b solid 3px;
  display: grid;
  grid-gap:10px;

  grid-template-areas:
  'first-row first-row '
  'second-row third-row'
  'forth-row fifth-row';
}

.work-items {
  background-size: cover;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  opacity: 70%;
}

.work-items:hover {
  opacity: 100%;
  border: 2px solid #af9b9b;
  transition: 0.1s;
}
.work-item1 {
  background-image: url(./images/google.png);
  grid-area: first-row;
}

.work-item2 {
  background-image: url(./images/amazon.png);
  grid-area: second-row;
}

.work-item3 {
  background-image: url(./images/apple.png);
  grid-area: third-row;
}

.work-item4 {
  background-image: url(./images/netflix.png);
  grid-area: forth-row;
}

.work-item5 {
  background-image: url(./images/facebook.png);
  grid-area: fifth-row;
}



.work-tag {
  background-color: #af9b9b;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 65px;
  padding: 10px;
  padding-top: 20px;



}










/* contact me section */
.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}

section .content a:hover {
  font-size: 110%;
  color: #524747;
  transition: 0.3s;
}




@media screen and (max-width: 992px) {
  header nav, .section, .content-me {
    flex-direction: column;
  }
  header img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header , .contact-me {
    flex-direction: column;
  }
  header h1 {
    margin: 0 auto;
  }
}
